{form basketForm-$lek->ean_id role=>"form", class=>"form-inline"}
                        
  <div class="form-group">{input count, class=>"form-control input-sm"}</div>
  {input ean}
  {label add,class=>"btn btn-primary"} Přidat do košíku{input add, class=>"hidden"}{/label}
{/form}