
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <title>{ifset title}{include title|striptags} | {/ifset}Nette Sandbox</title>

    
    <link rel="stylesheet" href="{$basePath}/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{$basePath}/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="{$basePath}/css/iis.css"/>
        
    <link rel="stylesheet" href="{$basePath}/css/style.css">
    <link rel="shortcut icon" href="{$basePath}/favicon.ico">
    <meta name="viewport" content="width=device-width">
    {block head}{/block}
    
    
    {block scripts}
            
        <script src="{$basePath}/js/jquery-2.1.4.min.js"></script>
        <script src="{$basePath}/js/nette.ajax.js"></script>
        <script src="{$basePath}/js/bootstrap.min.js"></script>
        <script src="{$basePath}/js/iis.js"></script>
    {/block}
</head>

<body>
    <header>
    
        {control menu}
        <hr/>
    </header>
    
    <main n:snippet="sitecontent">
        {include content}
    </main>

    <footer>
        <hr/>
    </footer>
    
    <div id="modal_window" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                {snippet modalcontent}
                {block modalcontent}{/block}
                {/snippet}
            </div>    
        </div>  
    </div>
</body>
</html>
