{* Latte template *}
{block menu}
<nav>
    <ul>
        {foreach $menu as $menuItem}
            <li {ifCurrent $menuItem[1]}class="current"{/ifCurrent}><a href="{link $menuItem[1]}">{$menuItem[0]}</a></li>
        {/foreach}
    </ul>
</nav>