{* Latte template *}

{block scripts}
    {include #parent}
<script type="text/javascript">
 
</script>
{/block}

{block content}
<div>
    <a n:href="new!" rel="modal_open">Nový lék</a>
    <table class="data table table-hover table-striped">
        <thead>
            <tr>
                <th>Ean ID</th>
                <th>Název léku</th>
                {*<th>Popis</th>*}
                <th>Objem</th>
                <th>Cena</th>
                <th>Pocet KS</th>
                <th></th>
            </tr>
        </thead>
        <tbody n:snippet="table_leks">
        {foreach $leky as $lek}
            <tr>
                <td><a id="{$lek->ean_id}" n:href="edit! $lek->ean_id" rel="modal_open">{$lek->ean_id}</a></td>
                <td>{$lek->nazev}</td>
                {*<td>{$lek->popis|truncate:50}</td>*}
                <td>{$lek->objem}</td>
                <td>{$lek->cena}</td>
                <td>{$lek->pocet_ks}</td>
                <td>
                    {*{control basketForm $lek}*}
                    {form basketForm-$lek->ean_id-$lek->pocet_ks role=>"form", class=>"form-inline ajax"}
                                                {input ean}

                        <div class="input-group">{input count, class=>"form-control"}
                            <span class="input-group-btn">
                                {label add,class=>"btn btn-primary"} <span class="glyphicon glyphicon-shopping-cart"></span> Přidat{input add, class=>"hidden"}{/label}
                            </span>
                        </div>
                    {/form}
                    
                </td>
            </tr>
        {/foreach}
        </tbody>
    </table>
</div>