{* Latte template *}


{define edit-inside}

{control lekEditForm}

{*
    <p><a n:href="Lek:default">← zpět na výpis příspěvků</a></p>


    <h1 >{$lek->nazev}</h1>

    <div >{$lek->popis}</div>*}
{/define}


{define modalcontent}
<div class="modal-header">
    <p>Úprava léku</p>
</div>
<div class="modal-body">
    {include edit-inside}
</div>
{/define}


{block content}
    {include edit-inside}
{/block}
