{* Latte template *}

{define new-inside}

{control lekForm}

{/define}


{define modalcontent}
<div class="modal-header">
    <p>Přidání Léku</p>
</div>
<div class="modal-body">
    {include new-inside}
</div>
{/define}


{block content}
    {include edit-inside}
{/block}

